/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-shailesh-gutenberg-blocks-pricing-table {
	background-color: #fff;
    border: solid 1px #00000018;
	border-radius: 8px;
    box-shadow: 0 0 2px 1px #cac9de;
	display: inline-block;
	padding: 38px 32px;
	text-align: center;

	.pricing_table-price {
		color: #960000;
		/* font-family: red hat display,Sans-serif; */
		font-size: 32px;
		font-weight: 700;
	}

	.pricing_table-features-wrapper {
		margin: 0;

		.pricing_table-feature-li {
			list-style-type: none;

			span {
				padding-left: 5px;
			}

			svg {
				fill: #960000;
				width: 14px;
			}
		}
	}

	.pricing_table-cta-wrapper {
		margin: 20px 0 0;
		
		.pricing_table-cta {
			background: linear-gradient(#960000,#000000);
			border: solid 1px #960000;
			border-radius: 3px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 15px;
			font-weight: 500;
			padding: 8px 24px;
			text-decoration: none;

			&:hover {
				background: #fff;
				color: #960000;
			}
		}
	}
}
